################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/JobTestApp/obj/Debug
/JobTestApp/bin/Debug
